{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">Gestione Fornitori</h2>

<div class="text-center mb-3">
  <a href="{{ url_for('suppliers_bp.manage_suppliers_products') }}" class="btn btn-danger mb-2">Aggiungi / Visualizza Fornitori</a>
  <a href="{{ url_for('orders_bp.create_order') }}" class="btn btn-danger">Nuovo Ordine</a>
</div>

<div class="list-group">
  {% for supplier in suppliers %}
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <div style="font-weight: 600; font-size: 1rem;">
        {{ supplier.name }}
      </div>
      <div class="d-flex align-items-center gap-2">
        <a href="{{ url_for('suppliers_bp.edit_supplier', supplier_id=supplier.id) }}" title="Modifica">
          <i class="fa-solid fa-pen fa-sm" style="color: black;"></i>
        </a>
        <a href="{{ url_for('suppliers_bp.delete_supplier', supplier_id=supplier.id) }}" title="Elimina" onclick="return confirm('Sei sicuro di voler eliminare questo fornitore?')">
          <i class="fa-solid fa-trash fa-sm" style="color: black;"></i>
        </a>
      </div>
    </div>
  {% else %}
    <div class="list-group-item text-center">Nessun fornitore presente.</div>
  {% endfor %}
</div>
{% endblock %}